<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/skeleton.css" rel="stylesheet" type="text/css">
  <title>Home</title>
</head>
<body>

   <div class="row">
		<div class="six columns">
  		<h1>Top Posts</h1>

      <% @post.each do |post|%>
      <a href = "/post/<%="#{post['id']}"%>">
      <%= "#{post["topic_name"]}"%>
      </a>
      <% end %>


     

    	<div class="six columns">
			<button type="button"><a href="/new">New Post</a></button>
		</div>
  </div> 

</body>
</html>


	<!--  PSQL Select Statement SELECT post-name FROM posts ORDER BY (votes) DESC Limit 3-->

