<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/skeleton.css" rel="stylesheet" type="text/css">
  <title>Home</title>
</head>

<script src="js/jquery-2.1.4.js"></script> 
<script src="js/script.js"></script>

<body>

  <div class="row">
		
    <div class="nine columns">
      <div class = "top">
  		  <h1 class ="top-title">Discussions</h1>
           <% @post.each do |post|%>
             
             <div class = "top_posts">

                  <a href = "/<%="#{post['id']}"%>">
                  <%= "#{post["topic_name"]}"%>
                  </a>

                  <% @user.each do |user| %>
                  <div class = "author"> 
                    By <%= "#{user["username"]}" %>
                    </div>
                    <% end %>
                                  
              </div> 
                   <div class = "votes">
                       <%= "#{post["votes"]}"%> Votes
                 </div> 
            <% end %>   


      </div>
    </div>
     

    <div class="three columns">
        <div class="new_post_button">
		    	<a href="/new"><button type="button">New Post</button></a>
        </div>



		</div>

  
  </div> 



</body>
</html>


	<!--  PSQL Select Statement SELECT post-name FROM posts ORDER BY (votes) DESC Limit 3-->

