<!DOCTYPE html>
<html>
<head>
  
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/skeleton.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/style.css">
  <title>Home</title>
</head>

<script src="js/jquery-2.1.4.js"></script> 
<script src="js/script.js"></script>

<body>

  <div class="row">
    
    <div class="nine columns">
      <div class = "top">
        <h1 class ="categories-title">Categories</h1>

           <% @categories.each do |category|%>
             
             <div id = "category" class = "all_categories">

                 <p> <a href = "/<%=category["id"]%>" class = "cat_name">
                  <%= category["category_name"]%>                  
                  </a> </p>
              </div> 

              <% end %>
      </div>
    </div>
     

    <div class="three columns">
        <div class="new_cat_button">
          <a href="/new_cat"><button type="button">New Category</button></a>
        </div>



    </div>

  
  </div> 



</body>
</html>
