<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1> Top Posts </h1>
<div class = top posts>
<p> here are the top posts </p>

	<!--  PSQL Select Statement SELECT post-name FROM posts ORDER BY (votes) DESC Limit 3-->
</div>
</body>
</html>