<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
   <link href="css/skeleton.css" rel="stylesheet" type="text/css">
  <title>FORUM NAME</title>
</head>
<body>
  <div class="wrapper">
    <div class="header clearfix">
      <a href="/" class="title">FORUM NAME</a>
      <ul class="main_navigation">
      <% if current_user %> 
      <li> <%= @user["username"]%></li>
        <li><a href="/logout">Log Out</a></li>
      <% else %>
        <li><a href="/login">Log In</a></li>   
      <% end %> 
      </ul>
     </div>
  </div>   


    <%= yield %>
</body>
</html>
