<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
  <title>FORUM NAME</title>
</head>
<body>
  <div class="wrapper">
    <div class="header clearfix">
      <a href="/" class="title">FORUM NAME</a>
      <ul class="main_navigation">
        <li><a href="/login">Log In</a></li>
        <li><a href="/category">Building Info</a></li>
        <li>
          <a href="/apartment">Apartments</a>
        </li>
        </ul>
        </div>
        </div>


    
    <%= yield %>
</body>
</html>
