<!DOCTYPE html>
<html>
<head>
<title>Log In</title>
  	<link href="css/normalize.css" rel="stylesheet" type="text/css">
   	<link href="css/skeleton.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class = "error">
<% if @error %> <%= @error %> <% end %>	
</div>


<div class = "login_info">
<h1> Log In </h1>

<form class = "login" action="/login" method="post"> 

	<div class = "input-row">
	<label for="username">Name: </label>
	<input type ="text" name="username"/>
	</div>

	<div class = "input-row">
	<label for="password">password: </label>
	<input type ="password" name="password"/>
	</div>


	<div class = "input-row">
	<input type ="submit" value="Log In"/>
	</div>

</form>

<a href = "/signup">Sign Up</a>
</div>


	
</body>
</html>



<!-- look into formating form -->
