<!-- option to go to sign up page, upon successful login, redirects back to homepage -->

<!DOCTYPE html>
<html>
<head>
<title>Log In</title>
	<link rel="stylesheet" href="css/style.css">
  	<link href="css/normalize.css" rel="stylesheet" type="text/css">
   	<link href="css/skeleton.css" rel="stylesheet" type="text/css">
</head>
<body>
	
<h1>Log In</h1>

<form method="post" action="/login">
<input type = "text" name = "user_name">
<input type = "password" name= "password">
<input type = "submit" value= "Log In">
</form>

<a href = "/signup">Sign Up</a>
	
</body>
</html>



<!-- look into formating form -->
