<!-- option to go to sign up page, upon successful login, redirects back to homepage -->

<h1>Log In</h1>

<form method="post" action="/login">
<input type = "text" name = "user_name">
<input type = "password" name= "password">
<input type = "submit" value= "Log In">
</form>