<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css">
    <link href="css/normalize.css" rel="stylesheet" type="text/css">
    <link href="css/skeleton.css" rel="stylesheet" type="text/css">
  <title>new category</title>
  
</head>
<body>
      <div class = "new_category">
      <% if @new_categoryt%>
      <%else%>

  <h1> New Category </h1>
      <form class = "new-category" action="/new_cat" method="post"> 

        <div class = "input-row">
        <label for="category_name">Category Name: </label>
        <input type ="text" name="category_name"/>
        </div>

        <div class = "input-row">
        <input type ="submit" value="Create New Category"/>
        </div>

      </form>
      <% end %>

      </div>


</body>
</html>