<!DOCTYPE html>
<html>
<head>
    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/css/skeleton.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/style.css">
  <title>new post</title>
  
</head>
<body>
      <div class = "new_post">
      <% if @new_post%>
        <p> Post Created </p>
      <%else%>

  <h1> New Post </h1>
      <form class = "new-post" action="/<%="#{@category['id']}"%>/new" method="post"> 

        <div class = "input-row">
        <label for="topic_name">Topic Name: </label>
        <input type ="text" name="topic_name"/>
        </div>


        <div class = "input-row">
        <label for="content">Content: </label>
        <textarea name="content"></textarea>
        </div>

        <div class = "input-row">
        <input type ="submit" value="Create New Post"/>
        </div>

      </form>
      <% end %>

      </div>


</body>
</html>

