<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/style.css">
  	<link href="css/normalize.css" rel="stylesheet" type="text/css">
   	<link href="css/skeleton.css" rel="stylesheet" type="text/css">
	<title>new post</title>
	
</head>
<body>
	this is where the post will be!!!!
</body>
</html>

<!-- put a form here | need post statement in server | redirects to post page when done  -->
<!-- checks categories, if categories dont exist append to categories table -->


