<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/style.css">
  	<link href="css/normalize.css" rel="stylesheet" type="text/css">
   	<link href="css/skeleton.css" rel="stylesheet" type="text/css">
	<title>new post</title>
	
</head>
<body>
      <div class = "new_post">
      <h1> New Post </h1>
      <% if @new_post%>
        <p> Post Created </p>
      <%else%>
      <form class = "new-post" action="/new" method="post"> 

        <div class = "input-row">
        <label for="topic_name">Topic Name: </label>
        <input type ="text" name="topic_name"/>
        </div>


        <div class = "input-row">
        <label for="content">Content: </label>
        <textarea name="content"></textarea>
        </div>

        <div class = "input-row">
        <input type ="submit" value="Create New Post"/>
        </div>

      </form>
      <% end %>

      </div>


</body>
</html>
<!-- put a form here | need post statement in server | redirects to post page when done  -->
<!-- inserts current users id into table -->
<!-- set comments and votes to 0 to start -->

