<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/style.css">
  	<link href="css/normalize.css" rel="stylesheet" type="text/css">
  	<link href="css/skeleton.css" rel="stylesheet" type="text/css">
	<title>Post Page</title>
</head>
<body>

<div class = "post-display">
<div class = "row">
	<div class = "eleven columns">
		<h1> <%= "#{@post["topic_name"]}" %> </h1>

	</div>

	<div class = "ten columns">
	<p> <%= "#{@post["content"]}"%> </p>
	</div>

	<div class = "four columns">

	<div class="comment_button">
		<a href="/<%="#{@post['id']}"%>/comment"><button type="button">Add Comment</button></a>
	</div>


	<!-- add comments with post id here -->


</div>
</div>
	
</body>
</html>