body {
	margin: 10px;

  }

/*main navigation from layout */

.header {
  padding: 30px;
  padding-bottom: 5px;
  border-bottom: 6px double rgb(120,120,120);
  background: rgb(227,227,227);

}


ul.main_navigation {
  float: right;
  margin: 0;
  padding: 0;
  margin-top: 9px;
  margin-bottom: 30px;

}

ul.main_navigation li {
  display: inline-block;
  font-size: 20px;
  position: relative;
  margin: 0 50px 0 15px;
}

a.title {
	font-size: 30px;
}


a {
	text-decoration: none;
}

/*index page css*/

.top {
  margin: 17px 0px 30px 40px;
  padding: 6px;
 
}

h1.top-title {
  margin-top: 20px;
  border-bottom: 4px groove grey;
}

.top_posts {
  margin-top: 40px;
}

.new_post_button {
  margin: 20px;
  margin-top: 46px;
  padding: 10px;
}


/*login css*/
.login_info {
  margin: 17px 0px 30px 40px;
  padding: 6px;
}

.error {
  margin: 17px 0px 30px 47px;
  font-size: 1.5em;
}


/*sign up form*/
.signup_info{
  margin: 17px 0px 30px 40px;
  padding: 6px;
}


/*new post css*/
.new-post {
 margin-top: 30px;
}


.new_post {
  margin-left: 10%;
  margin-right: 15%;
}

textarea{
  height: 200px;
  width: 800px;
}

.post-display {
  margin: 17px 0px 30px 40px;
  padding: 6px;
}



.votes {
  margin-top: -20px;
  margin-left: 80px;
  font-size: .8em;
}

.author {
  font-size: .8em;
}
