body {
	margin: 10px;
  }

.header {
  padding: 30px;

/*  border-bottom: 4px solid #000;
*/
}


ul.main_navigation {
  float: right;
  margin: 0;
  padding: 0;
  margin-top: 9px;
}

ul.main_navigation li {
  display: inline-block;
  font-size: 20px;
  position: relative;
  margin: 0 5px 0 5px;
}

a.title {
	font-size: 30px;
}


a {
	text-decoration: none;
}


.top {
  margin: 17px 0px 30px 40px;
  padding: 6px;
}

.login_info {
  margin: 17px 0px 30px 40px;
  padding: 6px;
}

.new_post_button {
  margin: 20px;
  padding: 10px;
}

.new_post {
  margin-left: 10%;
  margin-right: 15%;
}

textarea.u-full-width {
  height: 200px;
}

